
h1 {
    font-size: var(--mud-typography-h1-size);
    font-family: var(--mud-typography-h1-family);
    font-weight: var(--mud-typography-h1-weight);
    line-height: var(--mud-typography-h1-lineheight);
    letter-spacing: var(--mud-typography-h1-letterspacing);
    text-transform: var(--mud-typography-h1-text-transform);
}

h2 {
    font-size: var(--mud-typography-h2-size);
    font-family: var(--mud-typography-h2-family);
    font-weight: var(--mud-typography-h2-weight);
    line-height: var(--mud-typography-h2-lineheight);
    letter-spacing: var(--mud-typography-h2-letterspacing);
    text-transform: var(--mud-typography-h2-text-transform);
}

h3 {
    font-size: var(--mud-typography-h3-size);
    font-family: var(--mud-typography-h3-family);
    font-weight: var(--mud-typography-h3-weight);
    line-height: var(--mud-typography-h3-lineheight);
    letter-spacing: var(--mud-typography-h3-letterspacing);
    text-transform: var(--mud-typography-h3-text-transform);
}

h4 {
    font-size: var(--mud-typography-h4-size);
    font-family: var(--mud-typography-h4-family);
    font-weight: var(--mud-typography-h4-weight);
    line-height: var(--mud-typography-h4-lineheight);
    letter-spacing: var(--mud-typography-h4-letterspacing);
    text-transform: var(--mud-typography-h4-text-transform);
}

h5 {
    font-size: var(--mud-typography-h5-size);
    font-family: var(--mud-typography-h5-family);
    font-weight: var(--mud-typography-h5-weight);
    line-height: var(--mud-typography-h5-lineheight);
    letter-spacing: var(--mud-typography-h5-letterspacing);
    text-transform: var(--mud-typography-h5-text-transform);
}

h6 {
    font-size: var(--mud-typography-h6-size);
    font-family: var(--mud-typography-h6-family);
    font-weight: var(--mud-typography-h6-weight);
    line-height: var(--mud-typography-h6-lineheight);
    letter-spacing: var(--mud-typography-h6-letterspacing);
    text-transform: var(--mud-typography-h6-text-transform);
}


.logo-text {
    font-size: 2rem !important;
    letter-spacing: 4px !important;
}

.logo-subtext {
    font-size: .85rem;
    opacity: .75;
}

.bold {
    font-weight: 600;
}

.text-align-right {
    text-align: right;
}


.docs blockquote {
    border-left: 5px solid var(--mud-palette-secondary);
    background-color: rgb(159,131,117,.22);
    padding: 16px;
}

    .docs blockquote p {
        margin-top: 0px;
        margin-bottom: 4px;
    }


.docs pre {
    background-color: var(--mud-palette-grey-lighter);
    font-size: .8rem;
    overflow-x: scroll;
    border: 1px solid var(--mud-palette-grey-lighter);
    white-space: pre-wrap;
}

    .docs pre code {
        overflow-x: scroll;
        word-break: break-word;
    }

code {
    color: #800;
}

.docs p {
    margin-bottom: 24px;
}

.docs hr {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 8px;
}

.docs section {
    margin-bottom: 48px;
}

blog-example {
    background-color: var(--mud-palette-secondary-lighten);
    border: 1px solid var(--mud-palette-secondary);
    border-radius: var(--mud-default-borderradius);
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

    blog-example a {
        color: var(--mud-palette-secondary-text) !important;
    }

blog-spacer-bottom {
    margin-bottom: 16px;
}

.docs ul {
    list-style: circle;
    list-style-position: inside;
}

.docs a {
    color: var(--mud-palette-tertiary-lighten);
}

    .docs a:hover {
        text-decoration: underline;
    }

ul.docs-list {
    list-style: circle;
    list-style-position: inside;
}

.docs pre.mermaid {
    background-color: var(--mud-palette-background);
    border: 0;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
