@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

Rithm was first built by Rob Mackenzie as part of his exploration of Blazor.  It is the result of his efforts to build (and write) a blog using Blazor which can be found at <MudLink Href="https://www.robmackenzie.net">RobMackenzie.net</MudLink>.

@code{
    
}