@page "/articles"
@inject IArticleHelper _articleHelper

<PageTitle>Articles</PageTitle>

<h1>Articles</h1>

Below is a full list of articles registered on this site:

<MudSimpleTable>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in _articles)
        {
            
        <tr>
            <td>@article.Title
                <div><MudText Typo="@Typo.caption">@article.Key</MudText></div>
            </td>
            <td>@article.GetType()</td>
        </tr>
        }

    </tbody>
</MudSimpleTable>


@code{

    [Parameter]
    public string ArticleKey{ get; set; }

    private IEnumerable<IArticle> _articles = Enumerable.Empty<IArticle>();

    protected override async Task OnInitializedAsync()
    {
        _articles = await _articleHelper.GetArticlesAsync(CancellationToken);
    }
}




