@page "/"
@page "/overview"

<PageTitle>Index</PageTitle>

<h1>Introduction</h1>

<p class="mt-2">
    Rithm is a very simple article engine that allows you to build and organize pages of a variety of formats including markdown, json, and Blazor components.  
</p>

<p class="mt-2">
    An introductory blog post can be found <MudLink Href="https://www.robmackenzie.net/blog/building-a-blazor-blog-with-rithm-part-1">here</MudLink>.
</p>

